@charset "UTF-8";

body {
    background-color: #cccccc;
}

div.container {
    background-color: #007e7e;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
}

div.item {
    background-color: #9090eb;
    border: 2px solid #000000;
    width: 127px;
    flex: auto;
    text-align: center;
    margin: 5px;
}
