@charset "UT-8";

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #595959;
}

header {
    background-color: #000000;
    text-align: center;
    font-family: monospace;
}

header > p {
    color: #cccccc;
    padding-bottom: 30px;
}

header > h1 {
    color: #cccccc;
    padding-top: 30px;
    font-variant: small-caps;
    font-size: 7vw;
}

header a {
    font-weight: bold;
    color: #cccccc;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: "Special Elite";
    font-size: 4vw;
}

section.normal {
    background-color: #CCCCCC;
}

section.normal > p {
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem {
    background-color: #00000045;
}

section.imagem > p {
    color: #CCCCCC;
    background-color: #00000060;
    max-width: 60vw;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 2em;
}

footer {
    background-color: #000000;
    text-align: center;
    font-family: monospace;
}

footer > p {
    color: #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer a {
    font-weight: bold;
    color: #cccccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
