@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --cor_01: #CCCCCC;
    --cor_02: #656565;
    --cor_03: #000000;
}

body {
    background-color: var(--cor_01);
}

.silkscreen-regular {
    font-family: "Silkscreen", monospace;
    font-weight: 400;
    font-style: normal;
}
  
.silkscreen-bold {
    font-family: "Silkscreen", monospace;
    font-weight: 700;
    font-style: normal;
}

header {
    box-shadow: none;
    margin-bottom: 0px;
    max-width: 800px;
    padding-bottom: 15px;
}

header > i:hover {
    color: var(--cor_02);
}

nav {
    text-align: center;
}

nav > a {
    color: var(--cor_03);
    font-family: 'silkscreen';
    font-size: 0.8em;
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--cor_03);
    box-shadow: 2px 2px;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor_02);
    color: var(--cor_01);
    box-shadow: none;
}

main {
    box-shadow: none;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border-left: 2px solid var(--cor_03);
    border-right: 2px solid var(--cor_03);
    border-bottom: 0px;
    border-top: 0px;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main > h1 {
    font-family: 'silkscreen';
}

main > p {
    text-indent: 20px;
}

.session_1 a {
    text-decoration: none;
}

.session_1 {
    box-shadow: none;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: auto;
    padding: 10px;
    box-shadow: 4px 4px var(--cor_03);
    border: 2px solid var(--cor_03);
}

.session_1 a {
    text-decoration: none;
}

.session_1 a:hover {
    text-decoration: underline;
}

.session_1 > p {
    text-indent: 20px;
}

.op_sy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.op_sy > img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 5px;
    border: none;
}

.di_os {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.di_os > img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 5px;
}

picture > img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.session_2 {
    box-shadow: none;
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 4px 4px var(--cor_03);
    border: 2px solid var(--cor_03);
}

.session_2 > ul {
    display: inline-block;
    columns: 2;
    column-gap: 30px;
}

.session_2 a {
    text-decoration: none;
}

.session_2 a:hover {
    text-decoration: underline;
}

.session_2 > p {
    text-indent: 20px;
}

.session_2 > h2 {
    font-family: 'silkscreen';
}

.session_3 {
    box-shadow: none;
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 53.5%;
    box-shadow: 4px 4px var(--cor_03);
    border: 2px solid var(--cor_03);
    position: relative;
}

.session_3 > iframe {
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

footer {
    box-shadow: none;
    margin-bottom: 0px;
    background-color: var(--cor_03);
    max-width: 800px;
}

footer > p {
    text-align: center;
    margin: 0px;
    font-weight: bold;
    color: var(--cor_01);
}
