@charset "UTF-8";

/*Typical device breakpoints
pequenas telas: ate 600px
celular: de 600px ate 768px
tablet: de 768px ate 992px
desktop: de 992px ate 1200px
grandes telas: acima de 1200px
*/

/*Estilos gerais (media_all)*/
@media all {
    body {
        background-color: #CCCCCC;
        font-family: monospace;
    }

    .box_1 {
        margin: auto;
        padding: 10px;
        border: 2px solid #000000;
        box-shadow: 4px 4px #000000;
        margin-bottom: 15px;
        height: calc(100vh - 47px);
    }

    img {
        display: block;
        margin: auto;
    }

    header {
        margin-bottom: 0px;
        margin: auto;
        padding: 10px;
        border: 2px solid #000000;
        margin-bottom: 0px;
    }

    main {
        margin: auto;
        padding: 10px;
        margin-bottom: 0px;
        border: 2px solid #000000;
        box-shadow: 4px 4px #000000;
        max-width: 350px;
    }

    footer {
        margin-bottom: 0px;
        margin: auto;
        padding: 10px;
        border: 2px solid #000000;
        margin-bottom: 0px;
    }
}

/*Estilos para smartphones ()*/
@media screen and (max-width: 768px) {
    body {
        background-image: url(../imagens/back-phone.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        background-color: #CCCCCC;
    }

    #smartphone {
        width: 100%;
        max-width: 200px;
    }
    
    #tablet {
        display: none;
    }

    #print {
        display: none;
    }
    
    #pc {
        display: none;
    }
    
    #tv {
        display: none;
    }
    
}

/*Estilos para tablets ()*/
@media screen and (min-width: 768.1px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        background-color: #CCCCCC;
    }

    #smartphone {
        display: none;
    }
    
    #tablet {
        width: 100%;
        max-width: 200px;
    }

    #print {
        display: none;
    }
    
    #pc {
        display: none;
    }
    
    #tv {
        display: none;
    }
}

/*Estilos para impressoras ()*/
@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        background-color: #CCCCCC;
    }

    #smartphone {
        display: none;
    }
    
    #tablet {
        display: none;
    }

    #print {
        width: 100%;
        max-width: 200px;
    }
    
    #pc {
        display: none;
    }
    
    #tv {
        display: none;
    }
}

/*Estilos para desktop ()*/
@media screen and (min-width: 992.1px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        background-color: #CCCCCC;
    }

    #smartphone {
        display: none;
    }
    
    #tablet {
        display: none;
    }

    #print {
        display: none;
    }
    
    #pc {
        width: 100%;
        max-width: 200px;
    }
    
    #tv {
        display: none;
    }
}

/*Estilos para tv ()*/
@media screen and (min-width: 1200.1px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        background-color: #CCCCCC;
    }

    #smartphone {
        display: none;
    }
    
    #tablet {
        display: none;
    }

    #print {
        display: none;
    }
    
    #pc {
        display: none;
    }
    
    #tv {
        width: 100%;
        max-width: 200px;
    }
}
