@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    background-color: #ff1212;
}

main {
    height: calc(100vh - 30px);
    box-shadow: 4px 4px #000000;
    background-color: #CCCCCC;
    margin: 15px;
    padding: 10px;
    border: 2px solid #000000;
    position: relative;
}

section {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    margin: 10px;
    width: 80%;
    height: 80vh;
    box-shadow: 4px 4px #000000;
}

#imagem {
    background-image: url(../imagens/tomato.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff1212;
    height: 50%;
}