@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    background-color: #ff1212;
}

main {
    height: calc(100vh - 30px);
    box-shadow: 4px 4px #000000;
    background-color: #CCCCCC;
    margin: 15px;
    padding: 10px;
    border: 2px solid #000000;
    position: relative;
}

section {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    margin: 10px;
    width: 300px;
    height: 550px;
    box-shadow: 4px 4px #000000;
}

section > #imagem {
    background-image: url(../imagens/tomato.jpg);
    height: 50%;
    display: block;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

section > #formulario {
    height: 50%;
    padding: 10px;
}

section > #formulario > h1 {
    text-align: center;
}

section > #formulario > p {
    text-align: justify;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border: none;
    background-color: #000000;
}

section #formulario input {
    background-color: #ffffff;
    border: none;
    padding: 5px;
    margin: 2px;
}
